{% extends "AcmeCatalogBundle::layout.html.twig" %}

{% block title %} - Редактирование продукта {% endblock %}

{% block body %}
      

<center>Редактирование продукта  {{ product.name }}!</center>
           

<div style="margin:0 auto; width:225px;">

      <form action="/admin/updateproduct" method="post">
                <input type="hidden" name="id" value="{{ product.id }}" />
		<input type="text" name="name" value="{{ product.name }}" />
		<input type="text" name="description" value="{{ product.description }}" />
                <input type="text" name="img" value="{{ product.img }}" />
                <input type="text" name="price" value="{{ product.price }}" />
                <select name="userid">
                  {% for user in users %}   
                        <option value="{{ user.id }}">{{ user.username }}</option> 
                  {% endfor %} 
                </select>
		<input type="submit" name="login" class="btn btn-info"/>
		</center>
	</form>

</div>

{% endblock %}